body {
  text-align: left;
}

h1,h2,h3,h4,h5,h6 {
  font-size: 24px !important;
}

.lunch-list p {
  margin: 0;
}

.lunch-list-options {
  margin-left: 0;
  padding-left: 0;
}

.siteorigin-widget-tinymce * {
  text-align: left !important;
}

.day {
	font-weight: 600;
	padding-top: 2px;
	padding-top: 4px;
}